name: CI - STRONG-MY-PASSWORD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4 #acao pre pronta do github, baixa java e define variavel de ambiente
        with: #parametros a serem passados para a acao pronta
          distribution: temurin
          java-version: 21
          cache: maven #cache para guardar as dependencias e utilizar nas proximas execucoes

      - name: Rodar testes (unit + integration)
        run: mvn test #executa os testes com o maven 
